<div class="parallax-background">
  <div class="intro-text">
    Chronic Pain Tracker!
    <div class="small-3 small-centered columns">
      <%= link_to "Track your pain", new_diary_path , class:"button large" %>
    </div>
    <p><i class="fi-arrow-down"></i></p>
  </div>
</div>

<div class="parallax-content">
  <h1 class="text-center">A Complete Pain Diary</h1>
  <div class="text-center">
  <p><h3><h3>TRACK</h3> your pain across unique health metrics</h3></p>
  <p> <h3><h3>ANALYZE</h3>  your data with  charts & graphs</h3></p>
  <p><h3><h3>COMMUNICATE</h3>  more effectively with your doctors</h3></p>
</div>
</div>
