<div class="fixed">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name"><%= link_to 'PainManager', root_path %></li>
  </ul>
  <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  <div class="top-bar-section">
    <ul class="nav navbar-nav">



      <% if user_signed_in? %>

          <li class="active"><%= link_to "Users", users_path %></li>

          <li><%= link_to "Profile", current_user %></li>
      <% end %>

    </ul>

    <ul class="right" data-no-turbolink="true">
      <%= render 'layouts/navigation_links'  %>
    </ul>
  </div>
</nav>
    </div>